---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Shadow from "@/components/global/Shadow.astro";
import Intro from "@/components/landing/Intro.astro";
import Footer from "@/components/global/Footer.astro";
import About from "@/components/landing/About.astro";
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <Shadow />
    <div class="p-8 lg:px-44 lg:py-24 2xl:px-24 relative">
      <Intro />
      <About />
      <Footer />
    </div>
  </section>
</BaseLayout>
