---
import Text from "../fundations/elements/Text.astro";
---

<footer class="border p-8 border-dashed border-zinc-300 dark:border-zinc-700">
  <Text tag="p" variant="textSM" class="text-zinc-500 dark:text-zinc-400">
    © 2025 Emanate Software. All rights reserved.
  </Text>
  <Text tag="p" variant="textSM" class="text-zinc-500 dark:text-zinc-400 lg:col-span-2 mt-6">
  <span class="font-bold text-black dark:text-white text-justify">Emanate Software</span>
  is registered in Tanzania 🇹🇿 under BRELLA with registration number <b>523574</b>, Ubungo Municipal Council with B.L. NO :
  <b>BL01396922024-2500010042</b>, and holds a TRA TIN : <b>153-838-038</b>.
</footer>
